#home-page {
  display: flex;
  align-items: stretch;
  height: 100vh;
}
aside{
  flex:1;
  background: #30706F;

  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content:initial;
  
  padding: 120px 80px;

  p{
    color: black
  }

}
main{
  flex:4;

  padding:0 32x;
  
  display: flex;
  align-items:center;
  flex-direction:column;
  justify-content: center;
  
}