.buttonGenerate {
  color:#fff;
  background-color: #30706F;
  font-size: 20px;
  padding: 5px 25px;
  border-radius: 20px;
  margin: 10px 0px;
  cursor: pointer;
  &:not(:disabled):hover {
    filter: brightness(0.9);
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}